body
{
	background-color: #FAE3E3;

	margin: 0 0 0 0;

	font-style: sans;
	font-family: 'ConnectionRegular';
	font-weight: normal;

	text-align: center;
}

footer
{
	background-color: #F7D4BC;
        position: fixed;
        left: 0;
        bottom: 0;
	padding-top: 5px;
        width: 100%;
}

img
{
	width: 280px;
}

main
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.menu h2 a
{
	color: #000000;
	text-decoration: none;
}




.basic-text
{
	width: 300px;
}



.menu
{
	background-color: #C98BB9;

	width: 100%;
	margin: 0;
	padding-bottom: 5px;
}

.menu h1, .menu h2, .menu h3
{
	margin: 0;
	background-color: #CFA5B4;
}

.menu ul
{
	overflow:hidden

}

.menu li
{
	width: 25%;
	display: block;
	float: left;
}

.top-menu li
{
	font-size: 20px;
	width: 50%;
}

#duck
{
	margin-left: 10px;
	margin-top: 10px;
	width: 25px;
}

article
{
	max-width: 800px;
	text-align: justify;
	text-indent: 15px;
	margin: auto;
}

article h1,h2
{
	text-align: center;
}


